* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo_img {
  width: 100px;
  height: 100px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Roboto", sans-serif;
  background-color: #8b1f3a;
}

.logo {
  font-size: 20px;
  color: rgb(226, 226, 226);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
}

.category_title{
  display: flex;
  justify-content: center;
}

.container {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(550px, 3fr));
}

.article{
  padding: 2em;
  border-radius: 0.3em;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
}

.card_image{
  width: 100px;
  height: 100px;
}

/* Category  page css */

.category_name{
  margin-top: 20px;
}

.news_photos_title{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.other_news{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 50px;
  
}
.title_other_news{
  display: inline-flex;
}

.other_news h2{
  margin-left: 15px;
}